@model IndexProjectsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Project Name
            </th>
            <th>
               Building Type
            </th>
            <th>
               Release date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var project in Model.Projects)
            {
                <tr>
                    <td>
                        @project.Name
                    </td>
                    <td>
                        @project.BuildingType
                    </td>
                <td>
                    @project.ReleaseDate
                </td>
                    <td>
                        <a asp-action="Details" asp-action="Details" asp-route-id="@project.Id" class="btn btn-sm btn-success">Details</a>
					<a asp-action="Delete" asp-action="Delete" asp-route-id="@project.Id" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        
        
    </tbody>
</table>
<partial name="_PagingPartial" />